.hidden {
  height: 0;
  overflow: hidden;
}

.winners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  &_btn {
    width: 100px;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    border: solid 1px black;
    transition: scale 0.1s linear;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      scale: 1.05;
    }
    &:disabled {
      background: greenyellow;
      color: white;
      border: solid 1px greenyellow;
      cursor: auto;
      &:hover {
        scale: none;
      }
    }
  }
}

.list {
  display: flex;
  list-style-type: none;
  li {
    padding: 10px;
  }
}

.control_btns {
  width: 170px;
  text-transform: capitalize;
  height: 30px;
  margin-right: 10px;
  transition: all 0.1s linear;
  font-size: 14px;

  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  &:not([disabled]) {
    background-color: #fff;
  }
  &:not([disabled]):hover {
    background: greenyellow;
    color: white;
    border: solid 1px greenyellow;
    cursor: pointer;
  }
}
