.sort_btn {
  background-color: transparent;

  border: none;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;

  &_asc {
    &:after {
      content: '\2191';
      position: absolute;
    }
  }
  &_desc {
    &:after {
      content: '\2193';
      position: absolute;
    }
  }
}
